

            Model created successfully!!

            It is available as Docker image, so you can test it by run:

                    $ docker run -p 8080:7777 $image

            Then, a Rest-API will be available at: http://localhost:8080

            Thanks for using our services!

librAIry Framework
http://librairy.linkeddata.es

Ontology Engineering Group
Universidad Politecnica de Madrid
2019